@import './Variable.scss';
@import './Mixin.scss';
@import './Library.scss';

ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  --ion-background-color: #fafafa;
}

body {
  // user-select: none;
}

// @font-face {
//   font-family: DSDIGI;
//   src: url('../../font/DS-DIGI.ttf');
// }

.square {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: rgba(0, 0, 255, 0.5);
}

.align {
  &-centerVH {
    @include align;
    @include centering;
  }
}

.width {
  &-100 {
    width: 100%;
  }
  &-70 {
    width: 70%;
  }
  &-30 {
    width: 30%;
  }
}

.height {
  &-100 {
    height: 100%;
  }
  &-85 {
    height: 85%;
  }
  &-50 {
    height: 50%;
  }
  &-25 {
    height: 25%;
  }
  &-15 {
    height: 15%;
  }
}

.outline {
  outline: 1px solid #ccc;
}

hr {
  width: 100%;
  border-bottom: 1px solid #ddd;

  &.bold {
    border-bottom: 1px solid #999;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.ReactModal__Content {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  left: 2.5rem;
  overflow: auto;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
}
