@import '../common/Common.scss';
@import '../component/Components.scss';

.login {
  width: 400px;
  max-height: 80vh;
}

.createButton {
  margin: 20px;
}

.draftselectionWrapper {
  @include align;

  flex-direction: column;
  .createNew {
    margin: 20px;
  }
  .draftHistory {
    flex-grow: 4;
  }
  h5 {
    width: 100%;
    @include centering;

    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
}

.createGroupWrapper {
  @include align;

  flex-direction: column;

  ion-input {
    border: solid 1px #aaa;
    border-radius: 5px;
  }
  .groupname {
    margin: 15px 0;
  }
}
