@import '../common/Common.scss';

.createUserWrapper {
  @include align;

  flex-direction: column;

  ion-input {
    border: solid 1px #aaa;
    border-radius: 5px;
  }
  .selectAvatar {
    width: 100%;

    .is-selected {
      outline: 2px solid #6cf;
    }
  }
  .userName {
    margin: 15px 0;
  }
}
