@import '../common//Common.scss';

.shareModal {
  width: 420px;
  font-size: 14px;

  .url {
    margin-top: 15px;
    ion-input {
      border-bottom: solid 1px #aaa;
    }
  }
  .msg {
    font-size: 14px;
  }
}
