@import '../common//Common.scss';

.submitItemWrapper {
  width: 500px;
  // padding: 0 10px 10px 10px;

  .label {
    font-size: 15px;

    &.comment {
      margin-top: 10px;
    }
  }
  ion-input {
    margin-top: 5px;
    border: solid 1px #aaa;
    border-radius: 5px;
  }
  .buttonArea {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  .warn {
    font-size: 13px;
    color: #c00;
  }
}
