@import '../common/Common.scss';

.chatWrapper {
  $enterAreaH: 40px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media (max-width: 767px) {
    height: 90%;
  }
  .logArea {
    height: calc(100% - #{$enterAreaH});
    overflow-y: auto;
  }
  .enterArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $enterAreaH;

    ion-input {
      border: solid 1px #aaa;
      border-radius: 5px;
    }
  }
}
